# Copyright © 2026 OpenCHAMI a Series of LF Projects, LLC
# SPDX-License-Identifier: MIT

[Unit]
Description=The %N container
PartOf=openchami.target

# NOTE: `Requires` responsibility will be shifted to drop-ins to enable
# packages created from this repo to apply to arbitrary deployment styles.
Wants=postgres.service
After=postgres.service

[Container]
ContainerName=%N
HostName=%N
Image=ghcr.io/openchami/smd:@IMAGE_TAG@

# NOTE: Must be configured either explicitly by the site administrator or
# implicitly via one of the OpenCHAMI deployment meta-configuration packages.
Secret=smd_postgres_password,type=env,target=SMD_DBPASS

PodmanArgs=--entrypoint='["/bin/sh","-c","/%N"]'

[Service]
Restart=on-failure
Type=oneshot
