# Copyright © 2026 OpenCHAMI a Series of LF Projects, LLC
# SPDX-License-Identifier: MIT

[Unit]
Description=The %N container
PartOf=openchami.target

Wants=tokensmith.service
Requires=%N-init.service
After=%N-init.service tokensmith.service

[Container]
ContainerName=%N
HostName=%N
Image=ghcr.io/openchami/%N:@IMAGE_TAG@

# NOTE: Must be configured either explicitly by the site administrator or
# implicitly via one of the OpenCHAMI deployment meta-configuration packages.
Secret=%N_postgres_password,type=env,target=SMD_DBPASS

[Service]
Restart=always
